body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100vw;
  height: 100%;
}

section {
  padding-top: 20%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: $font-size;
  color: white;
  min-height: 100%;
  @include tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    
    .topbar {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include desktop {
    padding-left: 5%;
    padding-top: 15%;

    .topbar {
      margin-left: 2%;
    }
  }
}

#news_type {
  @include tablet {
    height: 1.5em;
    width: 130px;
  }
}

a {
  color: white;
  text-decoration: none;
}

//style applies only when user has chosen a category
.section-change {
  padding-top: 2%;
  height: auto;
  padding-left: 0;
  transition: all 0.5s ease-in-out;
  @include tablet {
    .topbar img {
      width: 70px;
      height: 100px;
    }
  }
  @include desktop {

  }
  .topbar {
    @include tablet {
      margin-left: 2%;
      max-width: 100%;

      .choose_section {
        padding-left: 4em;
      }
    }
    @include desktop {
      padding-left: 0;
      .topbar {
        max-width: 100%;
      }
    }
  }
}

ul {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  @include tablet {

  }
  @include desktop {

  }
}

.news-grid {
  width: 100%;
}

li {
  position: relative;
  transition: all 0.5s ease-in;
  img {
    height: 100vw;
    width: 100%;
    object-fit: cover;
  }
  p {
    margin: 0;
    padding: 10px 10px;
    text-align: left;
    line-height: 1.5em;
    position: absolute;
    margin-top: auto;
    bottom: 0;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.7);
  
  }
  @include tablet {
    width: 50%;
    height: 59vh;
    img {
      height: 59vh;
    }
  }
  @include desktop {
    width: 25%;
    height: 38vw;
    img {
      height: 38vw;
    }
  }
}

.loading-gif {
  img {
    height: 50px;
    width: 50px;
  }
  position: relative;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  display: none;
}


