footer {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #c2c2c2;
  position: relative;
  top: 15em;
  max-width: 100%;
  text-align: center;
  height: 50px;
  
  @include desktop {
    padding-left: 8%;
    text-align: left;
  }
}

.loaded-footer {
  bottom: 1em;
  position: relative;
}