footer {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #c2c2c2;
  bottom: 3em;
  width: 100%;
  text-align: center;
  height: 50px;
  margin-top: 50px;
  // margin-top: 30%;
  
  @include desktop {
    padding-left: 8%;
    text-align: left;
  }
}