footer {
  font-family: $main-font;
  font-weight: 300;
  font-style: normal;
  font-size: $font-size;
  color: $color__font-footer;
  position: relative;
  top: 15em;
  max-width: 100%;
  text-align: center;
  height: 50px;
  
  @include desktop {
    padding-left: 3%;
    text-align: left;
  }
}

.loaded-footer {
  bottom: 1em;
  position: relative;
  top: 0;
}

span {
  text-transform: uppercase;
}